---
title: false
styles: true
---
@import "alembic";

.feature{
    padding-bottom: 0.4rem;
    margin-bottom: 1.6rem;
    vertical-align: top;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 300px;
    width: 2000px;
}

