---
title: false
styles: true
---

$linkColour: #facb06 !default;
$hoverColour: darkgoldenrod !default;

@import "alembic";

.feature{
    padding-bottom: 0.4rem;
    margin-bottom: 1.6rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 320px;
    .container {
        min-height: 35%;
        max-width: 60%;
        flex-direction: column;
        justify-content: center;
    }
}