---
title: false
styles: true
---
@import "alembic";

.feature{
    padding-bottom: 0.4rem;
    margin-bottom: 1.6rem;
    vertical-align: top;
    text-align: center;
    background: white;
    /* background-size: cover; */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

